
.icon-envelope-cus:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-app:before { content: '\e894'; } /* '' */
.icon-loop:before { content: '\e89b'; } /* '' */
.icon-reload:before { content: '\e8a2'; } /* '' */
.icon-arrow-left-right-square:before { content: '\e8c1'; } /* '' */
.icon-arrow-left-right:before { content: '\e8c2'; } /* '' */
.icon-arrow-left-square:before { content: '\e8c6'; } /* '' */
.icon-arrow-left:before { content: '\e8c7'; } /* '' */
.icon-arrow-merge:before { content: '\e8ca'; } /* '' */
.icon-arrow-right:before { content: '\e8d4'; } /* '' */
.icon-arrow-right-end:before { content: '\e8d5'; } /* '' */
.icon-arrow-up-down:before { content: '\e8e3'; } /* '' */
.icon-fullscreen:before { content: '\e8f0'; } /* '' */
.icon-arrow-triangle-down-fill:before { content: '\e925'; } /* '' */
.icon-arrow-triangle-up-fill:before { content: '\e937'; } /* '' */
.icon-arrow-triangle-up:before { content: '\e93a'; } /* '' */
.icon-aspectratio:before { content: '\e93c'; } /* '' */
.icon-bag:before { content: '\e956'; } /* '' */
.icon-bell-fill:before { content: '\e966'; } /* '' */
.icon-bin-xmark-fill:before { content: '\e96a'; } /* '' */
.icon-case-fill:before { content: '\e987'; } /* '' */
.icon-calendar:before { content: '\e99e'; } /* '' */
.icon-camera-fill:before { content: '\e9a1'; } /* '' */
.icon-car:before { content: '\e9af'; } /* '' */
.icon-checkmark-seal:before { content: '\e9c7'; } /* '' */
.icon-arrow-down-circle-fill:before { content: '\e9d1'; } /* '' */
.icon-down:before { content: '\e9d5'; } /* '' */
.icon-arrow-left-circle-fill:before { content: '\e9d7'; } /* '' */
.icon-left:before { content: '\e9dc'; } /* '' */
.icon-arrow-right-circle-fill:before { content: '\e9de'; } /* '' */
.icon-right:before { content: '\e9e2'; } /* '' */
.icon-arrow-up-circle-fill:before { content: '\e9e4'; } /* '' */
.icon-up:before { content: '\e9e8'; } /* '' */
.icon-crop-rotate:before { content: '\ea20'; } /* '' */
.icon-off-wall:before { content: '\ea30'; } /* '' */
.icon-doc-on-doc:before { content: '\ea44'; } /* '' */
.icon-doc:before { content: '\ea47'; } /* '' */
.icon-envelope-noti:before { content: '\ea67'; } /* '' */
.icon-envelope-fill:before { content: '\ea6a'; } /* '' */
.icon-envelope:before { content: '\ea6d'; } /* '' */
.icon-danger:before { content: '\ea85'; } /* '' */
.icon-eye-fill:before { content: '\ea87'; } /* '' */
.icon-eye-slash-fill:before { content: '\ea88'; } /* '' */
.icon-folder-plus:before { content: '\eaad'; } /* '' */
.icon-go-forward:before { content: '\eafb'; } /* '' */
.icon-heart:before { content: '\eb27'; } /* '' */
.icon-hexagon:before { content: '\eb29'; } /* '' */
.icon-house:before { content: '\eb31'; } /* '' */
.icon-info-circle:before { content: '\eb4c'; } /* '' */
.icon-filter:before { content: '\eb75'; } /* '' */
.icon-location-fill:before { content: '\eb8b'; } /* '' */
.icon-location-up:before { content: '\eb8e'; } /* '' */
.icon-lock-rotation:before { content: '\eb9b'; } /* '' */
.icon-search:before { content: '\eba8'; } /* '' */
.icon-map-fill:before { content: '\ebad'; } /* '' */
.icon-location-circle:before { content: '\ebb1'; } /* '' */
.icon-minus:before { content: '\ebce'; } /* '' */
.icon-close-circle-fill:before { content: '\ebd7'; } /* '' */
.icon-multiply:before { content: '\ebdb'; } /* '' */
.icon-clip:before { content: '\ebfe'; } /* '' */
.icon-person-circle:before { content: '\ec1e'; } /* '' */
.icon-person-crop-circle-minus:before { content: '\ec21'; } /* '' */
.icon-person-crop-circle-plus:before { content: '\ec22'; } /* '' */
.icon-person-circle-1:before { content: '\ec29'; } /* '' */
.icon-phone-circle:before { content: '\ec42'; } /* '' */
.icon-phone-fill:before { content: '\ec4b'; } /* '' */
.icon-phone:before { content: '\ec4c'; } /* '' */
.icon-photo:before { content: '\ec50'; } /* '' */
.icon-plus-circle-fill:before { content: '\ec63'; } /* '' */
.icon-plus-slash-minus:before { content: '\ec6a'; } /* '' */
.icon-plus:before { content: '\ec6f'; } /* '' */
.icon-rectangle-3-offgrid:before { content: '\ec96'; } /* '' */
.icon-square-stack-3d-up:before { content: '\ed2f'; } /* '' */
.icon-sunrise:before { content: '\ed5b'; } /* '' */
.icon-trash-fill:before { content: '\ed97'; } /* '' */
.icon-trash:before { content: '\ed9a'; } /* '' */
.icon-tray-arrow-down:before { content: '\ed9e'; } /* '' */
.icon-tray-arrow-up:before { content: '\eda0'; } /* '' */
.icon-tray-full:before { content: '\eda3'; } /* '' */
.icon-satelite:before { content: '\ee0d'; } /* '' */
.icon-home:before { content: '\ee0e'; } /* '' */
.icon-apartment:before { content: '\ee0f'; } /* '' */
.icon-stack-person:before { content: '\ee10'; } /* '' */
.icon-bed:before { content: '\ee11'; } /* '' */
.icon-bath:before { content: '\ee12'; } /* '' */
.icon-chat-noti:before { content: '\ee13'; } /* '' */